<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proj3020_Ash.Properties.Settings.TransformerDataConnectionString"
            connectionString="Data Source=|DataDirectory|\TransformerData.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>